* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  /* background-image: url('https://images.pexels.com/photos/531321/pexels-photo-531321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* background-image: url('https://images.pexels.com/photos/5249048/pexels-photo-5249048.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* background-image: url('https://images.pexels.com/photos/10341389/pexels-photo-10341389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* background-image: url('https://images.pexels.com/photos/1331750/pexels-photo-1331750.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* background-image: url('https://images.pexels.com/photos/2121957/pexels-photo-2121957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* background-image: url('https://images.pexels.com/photos/6495097/pexels-photo-6495097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  background-image: url('https://images.pexels.com/photos/6719784/pexels-photo-6719784.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* background-image: url('https://images.pexels.com/photos/457074/pexels-photo-457074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* background-image: url('https://images.pexels.com/photos/910299/pexels-photo-910299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* background-image: url('https://images.pexels.com/photos/3105062/pexels-photo-3105062.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  /* background-image: url('https://images.pexels.com/photos/159108/light-lamp-electricity-power-159108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  /* background-image: url('https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');  */
  background-repeat: no-repeat; 
  background-position: 100%;
  background-size: cover;
  color: rgb(253, 253, 253);;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  width: 440px;
  min-height: 48px;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

