* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
 background-color: #1C2566;
  background-repeat: no-repeat; 
  background-position: 100%;
  background-size: cover;
  color: rgb(253, 253, 253);;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}


form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-list {
  min-width: 20%;
  list-style: none;
  
  max-width: 90%;
}

.todo {
  display: flex;
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  width: 100%;
  word-wrap: break-word;
}

@media (max-width: 30rem ) {
  .todo {
    display: block;
  }
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

