* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  background-image: url('https://images.unsplash.com/photo-1510070009289-b5bc34383727?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');   
  background-repeat: no-repeat; 
  background-position: 100%;
  background-size: cover;
  color: rgb(253, 253, 253);;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  width: 440px;
  min-height: 48px;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

